<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jepsen.dk.galgeleg_fragm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".SingleTon"
        android:icon="@mipmap/hangman1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Loading_activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ordListe_activity"
            android:label="Ordlisten"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="j2WxuGATjIwUXf9eUTKHS42ddlb5WQ5rOrdsyCQ2" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="XINHYK6cYIBUmoJll9wa9UwOIkddEX3u00gmsrAr" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">

        </activity>

    </application>

</manifest>
